/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}


/****************/
/* JOUW STYLING */
/****************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Noto Sans';font-size: 22px;
	margin: 0;
	padding: 0;
	background-color: #ffff;
}

nav {
	display: flex;
	padding: 10px;
	align-items: center;
	gap: 10px;
	position: fixed;
	top: 0;
	background: #fff;
	left: 0;
	right: 0;
}

nav a{
	text-decoration: none;
	color: #000;
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 20px;
}

nav a.active{
	background: #000;
	color: #fff;
}

nav a img{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	object-fit: cover;
}

input{
	width: 70%;
	padding: 15px;
	border-radius:20px;
	border: none;
	outline: none;
	background: #E9E9E9;
	font-weight: 500;
}

a.icon{
	font-size: 20px;
	border-radius: 50px;
}

a.icon:hover{
	background: #d2d2d2;
}


/* H1 class visually_hidden toevoegen voor screenreader */


.gallery {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 5vw);
	/* height van de rows is gekoppeld aan 5% viewport width voor de aspect ratio */ 
	grid-gap: 15px;
}