/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}


/****************/
/* JOUW STYLING */
/****************/

@font-face {
    font-family: NotoSans;
    font-weight: normal;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}

nav {
	font-family: NotoSans;
	font-weight: normal;
}

h1 {
	font-family: NotoSans;
	font-weight: normal;
}

p {
	font-family: NotoSans;
	Font-weight: normal;
}

/* H1 class visually_hidden toevoegen voor screenreader */

